.signupBtn{
    margin-left: 20px;
    background-color: #5e0b19 !important;
    outline-color: #5e0b19  !important;
    border-color:#5e0b19  !important;
    color: #fff !important;
    margin: 35px 10px;
    width: 150px;
    border-radius: 20px;
    padding: 12px 5px;
    font-size: medium;
}

.signupBtn:hover{
    cursor: pointer;
    background-color: #be1d38 !important;
    outline-color: #be1d38  !important;
    border-color:#be1d38  !important;
}

.buton-space{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c1{
    width:100vh;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 10%;
    background-color: #f2f6fa;
    box-shadow: 5px 10px  #5e0b19;
    margin-bottom: 4rem;
}

.text-success{
    color: forestgreen;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}