* {
    font-family: 'Roboto', sans-serif;
}

.cards {
    padding-top: 1rem;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    padding: .5rem;
    border-radius: 5%;
    background-color: #eaecee;
    box-shadow: 7px 9px #7196c0;
    border: 1px solid #dfd8d8;
}
.cards.two{
    margin-right: 5rem;
}
.one{
    /* margin-bottom: 5rem; */
    margin-right: 1rem;
}

.title {
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

.form-control {
    /* height: 40px; */
    border-radius: 0;
    width: 350px;
    margin: .5rem;
    font-size:15px ;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #c2c0c0;
  }

.logInBtn {
    background-color: #064d9e !important;
    outline-color:  #7196c0 !important;
    border-color: #7196c0 !important;
    color: #fff !important;
    margin: 35px 10px;
    width: 150px;
    border-radius: 20px;
    padding: 11px 5px;
    font-size: medium;
}

.logInBtn:hover {
    background-color: darkred;
    color: #fff;
    margin: 35px 10px;
    cursor: pointer;
}

.registerBtn {
    background-color: white;
    color: #064d9e ;
    outline-color:#064d9e ;
    border-color:#064d9e ;
    margin: 35px 10px;
    width: 150px;
    border-radius: 20px;
    padding: 11px 5px;
    box-shadow: 3px 5px 14px #bebcbc;
    font-size: medium;
}

.registerBtn:hover{
    background-color: #064d9e !important;
    outline-color: #064d9e !important;
    border-color:#064d9e !important;
    color:#fff !important;
    cursor: pointer;
}

.registerBtn:focus {
    background-color: #f77e27 !important;
    outline-color: #f77e27 !important;
    border-color:#f77e27 !important;
}

