.Banner{
    background-image: url('https://image.freepik.com/free-vector/abstract-technology-blue-hexagons-pattern-dark-background_78474-669.jpg');
    background-size: cover; 
    object-fit: cover;
    padding: 1rem; 
} 

.my-container{
    display:flex; 
    flex-direction:row;
    justify-content: center;
    /* justify-content: space-between; */
}

.Banner-title{
    position: relative;
    color: white;
    font-weight: 300;
    cursor: pointer;
    font-family: "Courier"; 
}

.my{
    font-family: "Courier";
}